@model IEnumerable<RealtorsPortalSystem.Models.PhotoDetail>

@{
    ViewBag.Title = "PhotoDetails";
      Layout = "~/Views/MainLayout/_MainLayoutAdmin.cshtml";
}
<br />
<br />
<br />
<br />
<link href="~/css/formSignInSignUp/main.css" rel="stylesheet" />
<link href="~/css/thumbnail/swiper.min.css" rel="stylesheet" />
    <link href="~/css/thumbnail/style.css" rel="stylesheet" />

@using (Html.BeginForm())
{

    <div class="wrap-login100">


        <div class="contact100-form validate-form">
            <span class="login100-form-title p-b-34 p-t-27">
                Search
            </span>

            <div class="wrap-input100 rs1-wrap-input100 validate-input">
                <span class="label-input100" style="font-size:100%">AdvId</span>
                <input class="input100" type="text" name="id">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Search
                </button>
            </div>

        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AdvId
            </td>
            <td>
                <div class="swiper-slide cover" style=" background-image:url( '@Url.Content(@item.Image)'); width:100px;height:100px">


                </div>
            </td>
            <td>

                @Html.ActionLink("Delete", "PhotoDetailsDelete", new { id = item.IdImage })
            </td>
        </tr>
    }

</table>