
<!DOCTYPE html>
<html lang="en">
<head>
    <title>RealtorsPortal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@





    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/css/menudropdown.css">
    <link rel="stylesheet" href="~/css/moreoption.css">
    <link rel="stylesheet" href="~/css/carousel.css">
    <link rel="stylesheet" href="~/css/select2.min.css">
    <link rel="stylesheet" href="~/css/selectoptionwidth.css">
    <style>
        .inlineinput div {
            display: inline;
        }

        #searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
     
    </style>

</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">RealtorsPortal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto" style="float:left">
                    <li class="nav-item"><a href="~/Home/Index" class="nav-link">Home</a></li>


                    <li class="nav-item dropdown" id="drop">
                        <a href="#" class="nav-link" id="drop">Sale&nbsp;<span class="icon-caret-down"></span></a>
                        <div class="dropdown-content">
                            <a href="~/Home/GetAdvSaleSeller">Private Seller</a>
                            <a href="~/Home/GetAdvSaleAgent">Agent</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" id="drop">
                        <a href="#" class="nav-link" id="drop">Buy&nbsp;<span class="icon-caret-down"></span></a>
                        <div class="dropdown-content">
                            <a href="~/Home/GetAdvBuySeller">Private Seller</a>
                            <a href="~/Home/GetAdvBuyAgent">Agent</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" id="drop">
                        <a href="#" class="nav-link" id="drop">Rent&nbsp;<span class="icon-caret-down"></span></a>
                        <div class="dropdown-content">
                            <a href="~/Home/GetAdvRentSeller">Private Seller</a>
                            <a href="~/Home/GetAdvRentAgent">Agent</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" id="drop">
                        <a href="#" class="nav-link" id="drop">Lease&nbsp;<span class="icon-caret-down"></span></a>
                        <div class="dropdown-content">
                            <a href="~/Home/GetAdvLeaseSeller">Private Seller</a>
                            <a href="~/Home/GetAdvLeaseAgent">Agent</a>
                        </div>
                    </li>

                    <li class="nav-item" style="float:right"><a href="~/Home/BankRate" class="nav-link">Mortgage calculator</a></li>
                    <li class="nav-item" style="float:right"><a href="~/Home/About" class="nav-link">About us</a></li>


                </ul>

                <ul class="navbar-nav ml-auto" style="float:right">
                    @if (Session["agent"] != null)
                    {
                        <li class="nav-item dropdown" id="drop">
                            <a href="#" class="nav-link" id="drop">@Session["agent"]&nbsp;<span class="icon-caret-down"></span></a>
                            <div class="dropdown-content">
                                <a href="~/Agents/Index">My profile</a>
                                <a href="~/Advertisements1/Index">Advertisement</a>
                                <a href="~/Advertisements1/AddAdvertisementHistory">AddAdvertisementHistory</a>
                                <a href="~/Home/Feedback">Feedback</a>

                            </div>
                        </li>
                        <li class="nav-item"><a href="@Url.Action("Logout", "Home", null)" class="nav-link">Logout</a></li>
                    }
                    else if (Session["seller"] != null)
                    {
                        <li class="nav-item dropdown" id="drop">
                            <a href="#" class="nav-link" id="drop">@Session["seller"]&nbsp;<span class="icon-caret-down"></span></a>
                            <div class="dropdown-content">
                                <a href="~/PrivateSellers/Index">My profile</a>
                                <a href="~/Advertisements1/Index">Advertisement</a>
                                <a href="~/Advertisements1/AddAdvertisementHistory">AddAdvertisementHistory</a>
                                <a href="~/Home/Feedback">Feedback</a>

                            </div>
                        </li>
                        <li class="nav-item"><a href="@Url.Action("Logout", "Home", null)" class="nav-link">Logout</a></li>

                    }
                    else
                    {
                        <li class="nav-item"><a href="~/Home/Login" class="nav-link">Login</a></li>
                        <li class="nav-item dropdown" id="drop">
                            <a href="@Url.Action("AgentSeller", "Home", null)" class="nav-link" id="drop">Register</a>

                        </li>

                    }



                    <li class="nav-item dropdown" id="drop">
                        <a href="~/Advertisements1/Create" class="nav-link" id="drop">Post an advertisement</a>

                    </li>


                </ul>
            </div>

        </div>
    </nav>



    <!-- END nav -->

    <div class="hero-wrap ftco-degree-bg" style="background-image: url('@Url.Content("~/images/bg_1.jpg")');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-center align-items-center">
                <div class="col-lg-12 col-md-6 ftco-animate d-flex align-items-end">
                    <div class="text text-center">
                        <h1 class="mb-4">Your Gateway to a Richer Life</h1>
                        <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>



                    </div>
                </div>
            </div>
        </div>
        <div class="mouse">
            <a href="#" class="mouse-icon">
                <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
            </a>
        </div>
    </div>







    @RenderBody()

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Uptown</h2>
                        <p>Far far away, behind the word mountains, far from the countries.</p>
                        <ul class="ftco-footer-social list-unstyled mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Community</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Search Properties</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>For Agents</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Reviews</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Our Story</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Meet the team</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Company</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Press</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
                            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">590 Cach Mang Thang Tam street, Ward 11 , District 3, Ho Chi Minh city, VietNam</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+ 84 956 810 932</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope pr-4"></span><span class="text">RealtorsPortalSystem@yoursite.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://5FACODER.com" target="_blank">5FACODER</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>




    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>*@
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/js/select2.min.js"></script>
    <script src="~/js/selectoption2.js"></script>

    <script>

        //disable button search when empty
        //$(document).ready(function () {

        //    $('.searchanyButton').attr('disabled', true);
        //    $('#inputanysearch').keyup(function () {
        //        if ($(this).val().length != 0)
        //            $('.searchanyButton').attr('disabled', false);
        //        else
        //            $('.searchanyButton').attr('disabled', true);
        //    })



        //});

        //$(document).ready(function () {
        //    $('.searchadv').attr('disabled', true);
        //    $('#mode').change(function () {
        //        if ($(this).val().length != 0)
        //            $('.searchadv').attr('disabled', false);
        //        else
        //            $('.searchadv').attr('disabled', true);
        //    })


        //});
        //       $(document).ready(function () {
        //    $('.searchadv').attr('disabled', true);
        //    $('#dropdownCity').change(function () {
        //        if ($(this).val().length != 0)
        //            $('.searchadv').attr('disabled', false);
        //        else
        //            $('.searchadv').attr('disabled', true);
        //    })


        //});


        window.onload = function () {
            var selItem = sessionStorage.getItem("SelItem");
            $('#inputanysearch').val(selItem);
        }
        $('#inputanysearch').change(function () {
            var selVal = $(this).val();
            sessionStorage.setItem("SelItem", selVal);
        });

        //      window.onload = function() {


        //    var selItem2 = sessionStorage.getItem("SelItem2");
        //$('#mode').val(selItem2);
        //}
        //$('#mode').change(function() {
        //    var selVal2 = $(this).val();
        //    sessionStorage.setItem("SelItem2", selVal2);
        //});



        $(function () {
            $.ajax({
                type: "GET",
                url: "/Home/GetCity",
                datatype: "Json",
                success: function (data) {
                    $('#dropdownCity').empty();
                    $("#dropdownCity").append("<option value='null'>--Select City--</option>");
                    $.each(data, function (index, value) {


                        $('#dropdownCity').append('<option value="' + value.CityId + '">' + value.CityName + '</option>');
                    });
                }
            });

            $('#dropdownCity').change(function () {

                $('#dropdownDistrict').empty();
                $('#dropdownWard').empty();
                $('#dropdownStreet').empty();

                $.ajax({
                    type: "POST",
                    url: "/Home/GetDistrict",
                    datatype: "Json",
                    data: { cityId: $('#dropdownCity').val() },
                    success: function (data) {

                        $("#dropdownDistrict").append("<option value='null'>--Select District--</option>");
                        $("#dropdownWard").append("<option value='null'>--Select Ward--</option>");
                        $("#dropdownStreet").append("<option value='null'>--Select Street--</option>");
                        $.each(data, function (index, value) {


                            $('#dropdownDistrict').append('<option value="' + value.DistrictId + '">' + value.DistrictName + '</option>');
                        });
                    }
                });
            });


            $('#dropdownDistrict').change(function () {

                $('#dropdownWard').empty();
                $('#dropdownStreet').empty();

                $.ajax({
                    type: "POST",
                    url: "/Home/GetWard",
                    datatype: "Json",
                    data: { districtId: $('#dropdownDistrict').val() },
                    success: function (data) {

                        $("#dropdownWard").append("<option value='null'>--Select Ward--</option>");
                        $("#dropdownStreet").append("<option value='null'>--Select Street--</option>");
                        $.each(data, function (index, value) {

                            $('#dropdownWard').append('<option value="' + value.WardId + '">' + value.WardName + '</option>');
                        });
                    }
                });
            });

            $('#dropdownWard').change(function () {

                $('#dropdownStreet').empty();

                $.ajax({
                    type: "POST",
                    url: "/Home/GetStreet",
                    datatype: "Json",
                    data: { wardId: $('#dropdownWard').val() },
                    success: function (data) {

                        $("#dropdownStreet").append("<option value='null'>--Select Street--</option>");
                        $.each(data, function (index, value) {

                            $('#dropdownStreet').append('<option value="' + value.StreetId + '">' + value.StreetName + '</option>');
                        });
                    }
                });
            });



        });


    </script>


</body>
</html>