@model RealtorsPortalSystem.Models.Agent
@{
    ViewBag.Title = "DangkyAgent";
}

<h2>Create new Agent</h2>
@using (Html.BeginForm("DangkyAgent", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
<div>
    <div>
        @Html.LabelFor(m => m.AgentAcount)
        @Html.EditorFor(m => m.AgentAcount)
        @Html.ValidationMessageFor(m => m.AgentAcount)
    </div>

    <div>
        @Html.LabelFor(m => m.AgentPassword)
        @Html.EditorFor(m => m.AgentPassword)
        @Html.ValidationMessageFor(m => m.AgentPassword)
    </div>


    <br />
    <div>
        <input type="submit" value="Create agent" class="btn-warning" />
    </div>

    <div>
        <h2 style="color:red">@ViewBag.msg</h2>
    </div>
</div>
}

