@model RealtorsPortalSystem.Models.Ward

@{
    ViewBag.Title = "Create";
      Layout = "~/Views/MainLayout/_MainLayoutAdmin.cshtml";
}

<h2>Create</h2>

<h2 style="color:red">@ViewBag.Msg</h2>
@using (Html.BeginForm("Create", "Wards", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ward</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CityId, "CityId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("dropdownCity1", new SelectList(string.Empty, "Text", "Text"), "--Select City--",new {required = "required", @class = "form-control"})
                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictId, "DistrictId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("dropdownDistrict1", new SelectList(string.Empty, "Text", "Text"), "--Select District--",new {required = "required", @class = "form-control"})
                @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WardName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WardName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.WardName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" style="background-color:hotpink">Create</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>




    $(function () {


        $.ajax({
            type: "GET",
            url: "/Home/GetCity",
            datatype: "Json",
            success: function (data) {
                $('#dropdownCity1').empty();
                $("#dropdownCity1").append("<option value='null'>--Select City--</option>");
                $.each(data, function (index, value) {


                    $('#dropdownCity1').append('<option value="' + value.CityId + '">' + value.CityName + '</option>');
                });
            }
        });

        $('#dropdownCity1').change(function () {

            $('#dropdownDistrict1').empty();
            $('#dropdownWard1').empty();
           

            $.ajax({
                type: "POST",
                url: "/Home/GetDistrict",
                datatype: "Json",
                data: { cityId: $('#dropdownCity1').val() },
                success: function (data) {

                    $("#dropdownDistrict1").append("<option value='null'>--Select District--</option>");
                    $("#dropdownWard1").append("<option value='null'>--Select Ward--</option>");
                   
                    $.each(data, function (index, value) {


                        $('#dropdownDistrict1').append('<option value="' + value.DistrictId + '">' + value.DistrictName + '</option>');
                    });
                }
            });
        });




    });


</script>