@model RealtorsPortalSystem.Models.Ward

@{
    ViewBag.Title = "Details";
       Layout = "~/Views/MainLayout/_MainLayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
