@model PagedList<RealtorsPortalSystem.Models.Ward>
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainLayout/_MainLayoutAdmin.cshtml";
}

<h2>List of Ward</h2>
<style>
    .pagination {
        text-align: center;
        margin: auto 800px auto 800px;
    }

        .pagination ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; /*background-color: #333;*/
        }

        .pagination li {
            float: left;
            border-right: 1px solid #bbb;
        }

            .pagination li:last-child {
                border-right: none;
            }

            .pagination li a {
                display: block;
                color: Black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .pagination li a:hover:not(.active) {
                    background-color: hotpink;
                }

        .pagination .active {
            background-color: hotpink;
        }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>


    @using (Ajax.BeginForm("Index", "Wards", new AjaxOptions { InsertionMode = InsertionMode.Replace }))
    {
        <input type="text" name="cusname" placeholder="Enter Keyword" />
        <input type="submit" value="Filter" class="btn-default" style="background-color:hotpink" />
    }
</div>
<table class="table">
    <tr>
        <th>
            <label>CityName</label>
        </th>
        <th>
            <label>DistrictName</label>
        </th>
        <th>
            <label>WardName</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WardId }) |
                @Html.ActionLink("Details", "Details", new { id = item.WardId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WardId })
            </td>
        </tr>
    }

</table>
<div>
    @Html.PagedListPager(Model, pageNum => Url.Action("Index","Wards" ,new { page = pageNum }))
</div>