@model RealtorsPortalSystem.Models.Advertisement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode.ModeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode.ModeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateSeller.SeLLAcount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateSeller.SeLLAcount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photothumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photothumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datepost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datepost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
